<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

</style>
</head>
<body>

  <h2>List of Music Albums</h2>

  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" onclick="filterSelection('name1')"> Name A to M</button>
    <button class="btn" onclick="filterSelection('name2')"> Name N to Z</button>
    <button class="btn" onclick="filterSelection('artist1')"> Artist A to M</button>
    <button class="btn" onclick="filterSelection('artist2')"> Artist N to Z</button>
    <button class="btn" onclick="filterSelection('genre1')"> Genre A to M</button>
    <button class="btn" onclick="filterSelection('genre2')"> Genre N to Z</button>
    <button class="btn" onclick="filterSelection('price1')"> Price 0 to 250</button>
    <button class="btn" onclick="filterSelection('price2')"> Price 275 to 500</button>
   
  </div>
  
  <div class="container">
    <div class="filterDiv name2">What's Going On</div>
    <div class="filterDiv name1 artist2">Marvin Gaye</div>
    <div class="filterDiv genre1">Motown</div>
    <div class="filterDiv price1">70</div>
    <div class="filterDiv name2">Pet Sounds</div>
    <div class="filterDiv name1 artist1">The Beach Boys</div>
    <div class="filterDiv genre2">Rock</div>
    <div class="filterDiv price1">100</div>
    <div class="filterDiv name1">Blue</div>
    <div class="filterDiv name1 artist1">Joni Mitchell</div>
    <div class="filterDiv genre1">Folk</div>
    <div class="filterDiv price1">95</div>
    <div class="filterDiv name2">Permanent Waves</div>
    <div class="filterDiv name2 artist2">Rush</div>
    <div class="filterDiv price1">200</div>
    <div class="filterDiv name1">Love Yourself: Tear</div>
    <div class="filterDiv name1 artist1">BTS</div>
    <div class="filterDiv genre1">K-Pop</div>
    <div class="filterDiv price1">50</div>
    <div class="filterDiv name2">Thriller</div>
    <div class="filterDiv name2 artist1">Michael Jackson</div>
    <div class="filterDiv genre1">Disco</div>
    <div class="filterDiv price2">500</div>
    <div class="filterDiv name1">Back in Black</div>
    <div class="filterDiv name1 artist1">AC/DC</div>
    <div class="filterDiv price2">400</div>
    <div class="filterDiv name2">The Dark Side of the Moon</div>
    <div class="filterDiv name2 artist2">Pink Floyd</div>
    <div class="filterDiv price2">450</div>
    <div class="filterDiv name2">The Bodyguard</div>
    <div class="filterDiv name2 artist2">Whitney Houston</div>
    <div class="filterDiv genre2">Pop</div>
    <div class="filterDiv price2">350</div>
    <div class="filterDiv name1">Bat Out of Hell</div>
    <div class="filterDiv name2 artist2">Meat Loaf</div>
    <div class="filterDiv price2">300</div>
  </div>
</body>